# Data cache
cache/
furusatonouzeidata/
chihoukoufuzeidata/
populationdata/
indicesdata/
readingsdata/
docs/
*.parquet
*.tar.gz

# Distribution / packaging
dist/
build.sh
build/
*.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ipynb_checkpoints/
