# Data cache
cache/
populationdata/
indicesdata/
readingsdata/
*.parquet
*.tar.gz

# Distribution / packaging
venv
dist
build.sh
build/
*.egg-info/
changelog.md
notebooks/*_output

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ipynb_checkpoints/
